<div id="account-overview" v-cloak>
  <div class="container">
    <h1>My Leagues</h1>
    <hr/>
    <div class="row">
        
      <% userLeagues.forEach(function(league)  { %>
        <div class="col-md-2" style="margin: 20px;">
          <div class="leagueWrapper" style="padding: 2px;">
            <div class="leagueWrapperTop">
                <span class="leagueFullName">
                    <i class="fab fa-medrt" title="<%= league.fullName %>" style="font-size: 20px;"></i>
                  <%= league.fullName %>
                </span>
            </div>
            <div class="leagueWrapperBottom">
                <span class="leagueNextGame">
                    <i class="fab fa-medrt" style="font-size: 20px;"></i>
                    <%= league.periodicals.length %>
                </span>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
